#p { 
    color: rgb(255, 255, 255);
    background: url(https://img.freepik.com/vetores-gratis/fundo-abstrato-colorido_23-2148807053.jpg?size=626&ext=jpg) center/cover no-repeat fixed;
     
}
#Titulo { 
    color: rgb(33, 102, 204)
    
}
.texto_verde { 
    color: green
}
.subDIV { 
    color: yellow;
}

#cm { 
    background-color: blue;
    width: 1cm;
    height: 1cm;
}
#mm { 
    background-color: red;
    width: 1mm;
    height: 1mm;
}

#in { 
    background-color: yellow;
    width: 1in;
    height: 1in;
}

#px { 
    background-color: green;
    width: 10px;
    height: 10px;
}
#pt { 
    background-color: rgb(113, 238, 113);
    width: 10pt;
    height: 10pt;
}
#pc { 
    background-color: rgb(209, 113, 238);
    width: 1pc;
    height: 1pc;
}

.container { 
    width: 200px;
    height: 500px;
    background: red ;

}
.inside { 
    width: 50%;
    height: 50%;
    background: blue;
 
}

#base { 
    height: 10px;
    background-color: blueviolet;

}

#container2 { 
    background-color: blue;
    color: white;
    padding-top: 10px;
}